[tool.ruff.lint]
# 1. Rules to be taken into account
# https://www.flake8rules.com/
select = [
    "E4", "E7", "E9",  # pycodestyle
    "F",  # Pyflakes
    "B",  # flake8-bugbear
    "I",  # isort
    "PL", # Pylint
]
ignore = [
    "PLR2004", # magic-value-comparison
    "PLW0603", # global-statement
    "F405",
    "F403"
]

[tool.ruff.lint.per-file-ignores]
# ignores unused imports in __init__.py (these imports are re-exports)
"__init__.py" = ["F401"]

[tool.ruff.format]
# Like Black, use double quotes for strings.
quote-style = "double"

# Like Black, indent with spaces, rather than tabs.
indent-style = "space"

# Like Black, respect magic trailing commas.
skip-magic-trailing-comma = false

# Like Black, automatically detect the appropriate line ending.
line-ending = "auto"

docstring-code-format = false
docstring-code-line-length = "dynamic"
